{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [statem_tests]}
]}.

%% PropEr plugin
{project_plugins, [rebar3_proper]}.
%% PropEr dependency
{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git",
                      {branch, "master"}}}
        ]}
    ]}
]}.
